<div class="col-xs-12">
<%@post.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.email + ": " %></strong>
    <%= comment.content %>
    <%= link_to new_post_comment_path(@post), class: 'btn btn-default btn-xs' do %>
      <i class="glyphicon glyphicon-share-alt"></i> 
    <% end %>
  </p>
<% end %>
</div>
