<h3>Editing Post</h3>

<%= render 'form' %>

<div class="btn-group">
<%= link_to posts_path, class: 'btn btn-default btn-xs' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back 
<% end %>
<%= link_to @post, class: 'btn btn-success btn-xs' do %>
  <i class="glyphicon glyphicon-eye-open"></i> Show 
<% end %>
</div>
